<div style="width:75%">
    <div class="content">
        <section class="content-primary">

                <input type="text" class="" placeholder="Saindo de onde?">
                <input type="date" class="">
                <input type="text" class="" placeholder="Para onde vai?">
                <input type="date" class="">
                <br>

                <select name="" id="" class="">Paradas</select>
                <select name="" id="" class="">Companhia aérea</select>
                <select name="" id="" class="">Horários</select>
                <select name="" id="" class="">Mais</select>
            
        </section>

        <section class="content-secundary">

            <div class="content-secundary-title">Descubra destinos</div>
            <div class="content-secundary-route">
                <div class="content-secundary-name">DATAS</div>
                <div class="content-secundary-option">28 de mai - 1 de jun</div>
            </div>
            <div class="content-secundary-route2">
                <div class="content-secundary-name2">LUGARES</div>
                <div class="content-secundary-option">Em qualquer lugar</div>
            </div>
            <div class="content-secundary-route2">
                <div class="content-secundary-name2">INTERESSES</div>
                <div class="content-secundary-option">Qualquer destino</div>
            </div>

            <div class="menu-items-row">
                <div class="menu-items">maio</div>
                <div class="menu-items">junho</div>
                <div class="menu-items">julho</div>
                <div class="menu-items">agosto</div>
                <div class="menu-items">setembro</div>
                <div class="menu-items">outubro</div>    
            </div>
            <div class="menu-items-row">
                <div class="menu-items">Fim de semana</div>
                <div class="menu-items">1 semana</div>
                <div class="menu-items">duas semanas</div> 
            </div>

        </section>

    </div>
</div>