<div style="width:75%">
    <div class="content">
        <section class="content-primary">

                <div>
                    <input type="text" class="" placeholder="Saindo de onde?">
                    <input type="date" class="">
                    <input type="text" class="" placeholder="Para onde vai?">
                    <input type="date" class="">
                </div>

                <div>
                    <select id="soflow">
                        <option>Paradas</option>
                        <option>Qualquer</option>
                        <option>Sem escalas</option>
                        <option>Até 1 parada</option>
                        <option>Até 2 paradas</option>
                    </select>
                    <select id="soflow">
                        <option>Comp. aérea</option>
                        <option>Red Rocket</option>
                        <option>Oneworld</option>
                        <option>SkyTeam</option>
                        <option>Star Alliance</option>                    
                    </select>
                    <select id="soflow">
                        <option>Horários</option>
                        <option>Manhã</option>
                        <option>Tarde</option>
                        <option>Noite</option>
                    </select>
                    <select id="soflow">
                        <option>Duração</option>
                        <option>Menos de 1hr</option>
                        <option>Menos de 2hrs</option>
                        <option>Menos de 5hrs</option>
                        <option>Menos de 10hrs</option>
                    </select>
                </div>
          
        </section>

        <section class="content-secundary">

            <div class="content-secundary-title">Descubra destinos</div>
            <div class="content-secundary-route2" [class.content-secundary-route]="'datas' === selectedOption" (click)="onSelectO('datas')">
                <div class="content-secundary-name2" [class.content-secundary-name]="'datas' === selectedOption">DATAS</div>
                <div class="content-secundary-option">28 de mai - 1 de jun</div>
            </div>
            <div class="content-secundary-route2" [class.content-secundary-route]="'lugares' === selectedOption" (click)="onSelectO('lugares')">
                <div class="content-secundary-name2" [class.content-secundary-name]="'lugares' === selectedOption">LUGARES</div>
                <div class="content-secundary-option">Em qualquer lugar</div>
            </div>
            <div class="content-secundary-route2" [class.content-secundary-route]="'interesses' === selectedOption" (click)="onSelectO('interesses')">
                <div class="content-secundary-name2" [class.content-secundary-name]="'interesses' === selectedOption">INTERESSES</div>
                <div class="content-secundary-option">Qualquer destino</div>
            </div>


            <!-- --- caso DATAS --- -->
            <div *ngIf = "'datas' === selectedOption">
                <div class="menu-items-row">
                    <div class="menu-items" *ngFor="let month of months"
                    [class.selected]="month === selectedMonth"
                    (click)="onSelectM(month)">
                        {{month.name}}
                    </div>  
                </div>
                <div class="menu-items-row"> 
                    <div class="menu-items" *ngFor="let wkday of wkdays"
                    [class.selected]="wkday === selectedWkDay"
                    (click)="onSelectWD(wkday)">
                        {{wkday.name}}
                    </div>
                </div>
            </div>
            <!-- --- fim de caso DATAS --- -->


            <!-- --- caso LUGARES --- -->
            <div *ngIf = "'lugares' === selectedOption">
                <div class="menu-items-row">
                    <div class="menu-items" *ngFor="let place of places"
                    [class.selected]="place === selectedPlace"
                    (click)="onSelectPLC(place)">{{place.name}}</div>  
                </div>
                <div class="menu-items-row">
                    <input type="text" class="ipt" placeholder="Insira a região ou país">
                </div>
            </div>
            <!-- --- fim de caso LUGARES --- -->

            <!-- --- caso INTERESSES --- -->

            <div *ngIf = "'interesses' === selectedOption">
                <div class="menu-items-row">
                    <div class="menu-items" *ngFor="let tag of tags"
                    [class.selected]="tag === selectedTag"
                    (click)="onSelectT(tag)">{{tag.name}}</div>    
                </div>
            </div>
            <!-- --- fim de caso INTERESSES --- -->

        </section>

        <section class="">

            <div *ngFor="let city of cities">
                <div class="card">
                    <img src="{{city.img}}" alt="Avatar" id="card">
                    <div class="container" [ngStyle]="{'background-color': city.color}">
                        <p id="p1">{{city.name}}</p> 
                        <p>{{city.tag}}</p> 
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>