<nav class="navbar navbar-toggleable-md navbar-light bg-faded googlebar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand googlebar-text white" href="#">Google</a>
</nav>

<div style="width:75%">
    <div class="content">
        <section class="content-primary">

            <div>
                <div class="left">
                    <button routerLink="/idaEVolta" routerLinkActive="active">Ida e volta</button>
                    <button routerLink="/soDeIda" routerLinkActive="active">Só de ida</button>
                    <button routerLink="/variasCidades" routerLinkActive="active">Várias cidades</button>
                </div>

                <div  class="right">
                    <button>Econômica</button>
                    <button>1 adulto</button>
                </div>
            </div>

            <div class="clear"> </div>
            
        </section>

    </div>
</div>

<router-outlet></router-outlet>