.googlebar {
    height: 40px;
    background-color: #4285f4;
    color: #fff;
    padding: 0;
    font-size: 16px;
    position: relative;
}

.googlebar-text {
    vertical-align: top;
    display: inline-block;
    padding: 15px 40px 13px 60px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.white {
    color: #fff;
}

.content {
    position: relative;
    width: 100%; 
}

.content-primary {
    button {
        display: inline-block;
        padding: 0 8px;
        margin: 6px 0;
        height: 27px;
        min-width: 54px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        cursor: default;
        border-color: #ccc;
        background-color: #eee;
        background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
        }
 }


.left {
    float: left;
}

.right{
    float: right;
}

.clear{
    clear:both;
}