<div style="width:75%">
    <div class="content">
        <section class="content-primary">

                <input type="text" class="" placeholder="De onde?">
                <input type="text" class="" placeholder="Até onde?">
                <input type="date" class="">

                <div class="clear"></div>
                <button class="">Adicionar um vôo</button>

                <select name="" id="" class="">Paradas</select>
                <select name="" id="" class="">Companhia aérea</select>
                <select name="" id="" class="">Horários</select>
                <select name="" id="" class="">Mais</select>
            
        </section>

    </div>
</div>