<div style="width:75%">
    <div class="content">
        <section class="content-primary">
            <div>
                <input type="text" class="" placeholder="De onde?">
                <input type="text" class="" placeholder="Até onde?">
                <input type="date" class="">
            </div>

            <div>
                <button id="add">Adicionar um vôo</button>
            </div>

            <div>
                <select id="soflow">
                    <option>Paradas</option>
                    <option>Qualquer</option>
                    <option>Sem escalas</option>
                    <option>Até 1 parada</option>
                    <option>Até 2 paradas</option>
                </select>
                <select id="soflow">
                    <option>Comp. aérea</option>
                    <option>Red Rocket</option>
                    <option>Oneworld</option>
                    <option>SkyTeam</option>
                    <option>Star Alliance</option>                    
                </select>
                <select id="soflow">
                    <option>Horários</option>
                    <option>Manhã</option>
                    <option>Tarde</option>
                    <option>Noite</option>
                </select>
                <select id="soflow">
                    <option>Duração</option>
                    <option>Menos de 1hr</option>
                    <option>Menos de 2hrs</option>
                    <option>Menos de 5hrs</option>
                    <option>Menos de 10hrs</option>
                </select>
            </div>
            
        </section>

    </div>
</div>